<!DOCTYPE html>
<html>
<title>JBD Logistics</title>
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" id="sidebar">
  <a class="w3-bar-item w3-button w3-blue" href="/index">Strona główna</a>
  <a class="w3-bar-item w3-button " href="#">Ustawienia konta</a>
  <a class="w3-bar-item w3-button " href="#">Wyloguj</a>
  <a class="w3-bar-item w3-button w3-large w3-hide-large center_button" href="javascript:void(0)" onclick="hideSideBar()"><i class="fa fa-remove" id="remove_icon"></i></a>
</nav>
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="hideSideBar()" style="cursor:pointer" id="shadow"></div>
<div class="w3-main">
<div id="header" class="w3-bar w3-theme w3-xlarge">
  <p><i class="fa fa-bars w3-button w3-blue w3-hide-large w3-xlarge" onclick="showSideBar()"></i>
  <span id="header_text">JBD Logistics</span>
</div>
<div class="w3-container">
<h2>Zarządzanie zleceniami</h2>
<h3>Kalendarz zleceń</h3>
<h4>Zlecone 7.11.2018</h4>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Numer kierowcy</th>
        <th>Numer zlecenia</th>
		<th>Status</th>
		<th>Szczegóły</th>
		<th>Modyifukuj</th>
        <th>Usuń</th>
      </tr>
    </thead>
    <tr>
      <td>-</td>
      <td>2018/255</td>
	  <td><i class="fa fa-truck w3-text-red"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K07</td>
      <td>2018/254</td>
	  <td><i class="fa fa-truck w3-text-red"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K04</td>
      <td>2018/253</td>
	  <td><i class="fa fa-truck w3-text-orange"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
  </table>
 <br>
 <h4>Zlecone 6.11.2018</h4>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Numer kierowcy</th>
        <th>Numer zlecenia</th>
		<th>Status</th>
		<th>Szczegóły</th>
		<th>Modyifukuj</th>
        <th>Usuń</th>
      </tr>
    </thead>
    <tr>
      <td>K06</td>
      <td>2018/252</td>
	  <td><i class="fa fa-truck w3-text-red"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K03</td>
      <td>2018/251</td>
	  <td><i class="fa fa-truck w3-text-orange"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K05</td>
      <td>2018/250</td>
	  <td><i class="fa fa-truck w3-text-orange"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
  </table>
 <br>
<h4>Zlecone 5.11.2018</h4>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Numer kierowcy</th>
        <th>Numer zlecenia</th>
		<th>Status</th>
		<th>Szczegóły</th>
		<th>Modyifukuj</th>
        <th>Usuń</th>
      </tr>
    </thead>
    <tr>
      <td>K02</td>
      <td>2018/249</td>
	  <td><i class="fa fa-truck w3-text-orange"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K01</td>
      <td>2018/248</td>
	  <td><i class="fa fa-truck w3-text-green"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
      <td>K08</td>
      <td>2018/247</td>
	  <td><i class="fa fa-truck w3-text-green"></i></td>
	  <td><i class="fa fa-search"></i></td>
	  <td><i class="fa fa-file-o "></i></td>
      <td><i class="fa fa-close"></i></td>
    </tr>
  </table>
<p>
<button class="w3-button w3-blue">Dodaje zlecenie</button>
<button class="w3-button w3-blue">Legenda statusów</button>
<button class="w3-button w3-blue">Archiwum</button>
</p>
</div>
<footer id= "footer" class="w3-container w3-theme">
  <p>Projekt Bartłomiej Jarzembiński © 2018</p>
</footer>
</div>
<script src="/build/main.bundle.js"></script>
</body>
</html>